<div class="entrypage">
{{> organisms-header-dark }}

<main role="main" class="py-4 text-white bxg-dark">
  <div class="container">
    <h1>main of mainentry</h1>
    {{> atoms-paragraph }}
  </div>
</main>

{{> organisms-footer-dark }}
</div>
